  body, html {
    font-family: 'Roboto', sans-serif;
  }

  .hide {
    display: none;
  }

  button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding: 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
  }

  button:focus {
    outline: none;
  }

  #sidebarCollapse {
    align-content: left;
  }

  /*barra laterale*/

  #sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.3);
    transition: all .5s;
    display: flex;
    align-items: center;
  }

  #sidebarCollapse {
    position: fixed;
  }

  /* resto */

  #page-content-wrapper {
    padding: 10 10px;
    width: 100%;
    height: 100%;
    transition: all .5s;
  }

  #wrapper.menuDisplayed #sidebar-wrapper {
    width: 240px;
  }

  #wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
  }

  /* posizionamento nel menu */

  .sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
  }

  .sidebar-nav li {
    line-height: 40px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #ddd;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
    outline: none;
  }

  .sidebar-nav li:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  #list-tab a {
    text-align: center;
  }

  #sub-data, #modifica-dati {
    width: 60%;
    padding-top: 10px;
    position: relative;
  }

  .tab-content input, textarea {
    width: 80%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 20;
  }

  #sub-data textarea {
    height: unset;
  }

  /* da trovare ed allineare al centro*/

  .tab-content button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    width: 80px;
    right: 10px;
  }

  .titolosito {
    font-family: MV Boli, sans-serif;
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 75px;
    top: 50px;
  }

  .descrizione {
    font-family: Gabriola;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
    top: 50px;
  }

  .container-sm h1, .container-sm p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 16px;
    font-weight: bolder;
  }

  .container-sm h1>span, .container-sm p>span {
    background-color: yellow;
    line-height: 2
  }

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
  .container1 ul {
    margin: 0;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 13px;
  }

  .container1 ul:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #fff;
  }

  .container1 ul li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 250px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
  }

  .container1 ul li:not(:first-child) {
    margin-top: 60px;
  }

  .container1 ul li>span {
    width: 2px;
    height: 100%;
    background: #fff;
    left: -30px;
    top: 0;
    position: absolute;
  }

  .container1 ul li>span:before, .container1 ul li>span:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -3px;
    top: 0;
  }

  .container1 ul li span:after {
    top: 100%;
  }

  .container1 ul li>div {
    margin-left: 10px;
  }

  .container1 div .title, .container1 div .type {
    font-weight: 600;
    font-size: 12px;
  }

  .container1 div .info {
    font-weight: 300;
  }

  .container1 div>div {
    margin-top: 5px;
  }
